:root {
  /* primary */
  --primary: #6d40c8;
  --primary-50: #efe5fd;
  --primary-100: #d4bff9;
  --primary-200: #b794f6;
  --primary-300: #9965f4;
  --primary-400: #7e3ff2;
  --primary-500: #6d40c8;
  --primary-600: #5300e8;
  --primary-700: #3d00e0;
  --primary-800: #1c00db;
  --primary-900: #0000d6;

  /* gray-scale */

  --gray-50: #f6fbff;
  --gray-100: #f1f6fc;
  --gray-200: #ecf2f7;
  --gray-300: #dfe5ea;
  --gray-400: #bdc2c7;
  --gray-500: #9fa3a9;
  --gray-600: #757a7f;
  --gray-700: #61666a;
  --gray-800: #42464b;
  --gray-900: #212529;

  /* z-index  */
  --modal-z-index: 2;
}
