@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

:root {
    --container-width: 80%
}

a {
    text-decoration: none;
}

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--container-width);
    margin: 0 auto;
}

.logo {
    font-weight: bold;
    font-size: 30px;
    color: #6d40c8;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

nav a {
    color: #4e4e4e;
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
}

nav a[href*="#2"] {
    color: #6d40c8;
}

nav img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 20px;
}

main {
    width: var(--container-width);
    max-width: 1500px;
    margin: 0 auto;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 870px; 
}

/* section */
section {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
}

.search-container { /*비숫한 속성끼리 함께 두는 것이 좋습니다. (flex 관련, width관련...*/
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 0;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

.search-container input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    box-sizing: border-box;
}

.search-container button {
    padding: 5px;
    margin-left: 10px;
    background-color: #6d40c8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container button .material-icons {
    font-size: 24px;
}

.pagination { /*html 순서대로 작성하는 게 일반적입니다. + gap이라는 속성을 쓰면 요소 간격을 쉽게 조절할 수 있습니다.*/
    display: flex;
    align-items: center;
    /* gap : 10px */
}

.pagination button {
    padding: 5px 10px;
    margin: 10px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #adb5bd;
    color: white;
}

.pagination button:disabled {
    background-color: #6d40c8;
    cursor: not-allowed;
}

.pagination #pageNumber {
    font-size: 16px; /*font-size 기본값이 16px이어서 굳이 안 적어도 상관 없습니다.*/
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr); /*grip-template은 row나 column는 동시에 둘 중 하나만 쓸 수 있습니다. */
    gap: 15px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-y: auto;
    width: 100%;
    /* max-width: calc(100vw * 0.67); 헤더와 세로줄을 맞추기위해 뺴는 것이 좋습니다.*/ 
    box-sizing: border-box;
    align-content: start;
    /* flex: 1; display : felx 인 경우에만 의미가 있는 속성입니다. */
}
.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fafafa;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    transition: box-shadow 0.3s ease;
    min-height: 250px;
    height: 250px;
}

.profile-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 10px;
}

.profile-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.profile-card .close-button {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: #4e4e4e;;
    border: none;
    cursor: pointer;
    font-size: 30px;
}

.profile-card:hover .close-button {
    display: block;
}

.plus-box { /*profile-card와 중복되는 부분이 많습니다  profile-card에 있는 부분은 뺴는 게 좋을 같아요*/
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    /* padding: 10px; */
    /* border: 1px solid #e0e0e0; */
    /* border-radius: 8px; */
    /* background-color: #fafafa; */
    /* box-sizing: border-box; */
    /* text-align: center; */
    cursor: pointer;
    /* transition: box-shadow 0.3s ease; */
    /* min-height: 250px; */
}

/* .plus-box:hover {  profile-card에 hover가 있으니 굳이 필요 없을 것 같아요.
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
} */

.plus-box .material-icons {
    font-size: 48px;
    color: #666;
}

.profile-card .info {
    text-align: left;  /*상위요소에서 수정하면 한 번만 쓰면 되겠죠? */
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-card .info-item {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    max-width: 400px;
    margin-bottom: 1px;
}

.profile-card .info-item .label {
    font-weight: bold;
    color: #666;
    /* text-align: left;  상위요소에서 처리*/
    flex: 1;
}

.profile-card .info-item .value {
    color: #333;
    /* text-align: left; 상위요소에서 처리*/
    flex: 2;
}

/* .profile-card .info .name { name이라는 class를 갖는 요소가 없는데요??!
    font-size: 20px;
} */

/* 모달 창 */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; overflow가 없어요 */
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 600px;
    text-align: left; /*프로필카드처럼 이것도 left면 족므 더 깔끔하지 않을까요? */ 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.modal-content .info-item {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 20px;
    width: 100%;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #666;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



.info-item label {
    display: inline-block;
    width: 100px;
}
